@font-face {
  font-family: 'Avant Garde Gothic';
  src: url('fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'),
    url('fonts/ITCAvantGardeStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde Gothic';
  src: url('fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'),
    url('fonts/ITCAvantGardeStd-Bk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}